# xmonad compile errors
xmonad.errors

# haskell .gitignore

dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virthualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config

# binaries
xmonad-x86_64-linux
xmonad-i386-linux
StreamConvert
/xmonad-check-email

# shake
/_build/
/_shake/
